                                    j;
         itt  ;t                 tj:tt      :
          ittttj                  ttti  :E###K
 j#W;:      ttttttti###########f::tj:#####fL##
 ##LLK#####f :   :i#################:ifLLLLL#:
 :#LLLLLLLLffLK########::#######W E###::LLL#.
  L#LLLLLLLLf###GtjK###############t:ji: #:
    #fLLLLLW##.fjfLjjj:###########.jjjj:#
      K#fLf####:jjjjjjj ########## jt;:K##
          #######Di;;jE#####L :::#########
          ####################E;##.#######
           ################# jLL ########   :DL:
            :###############:jL:######t   t#KKK##
               :f################E :   :D#######
                  :##WKDDGGDEKKWKW ##########
        G        ########KKKKKKKKKG.###Kj:
         :G    ##### ####KKKKKKKKKW
            :i##### #####KKKKKKKKK#.
             iG### #######KKKKKKK##t
              :   #################
                 f#################
                 :##f:#i    ######.
                            ;jfff j