package {{.table.PackageName}}Dao

import (
    "{{.table.FunctionAuthor}}/app/common/mysql"
    "baize/app/constant/constants"
    "{{.table.FunctionAuthor}}/app/{{.table.PackageName}}/{{.table.PackageName}}Models"
    "fmt"
    "github.com/jmoiron/sqlx"
)

// ==========================================================================
// date：{{.table.GenerateTime.Format "2006-01-02 15:04:05" }}
// author：{{.table.FunctionAuthor}}
// version: v1.0
// ==========================================================================


var select{{.table.ClassName}}Sql = `select {{range $index, $column := .table.Columns}}{{$column.ColumnName}} {{end}} `
var from{{.table.ClassName}}Sql = ` from {{.table.TableName }}`

func Select{{.table.ClassName}}ById({{range $index, $column := .table.Columns}}{{if eq $column.IsPk "1"}}{{$column.HtmlField}} {{$column.GoType}}{{end}}{{end}}) ({{.table.BusinessName}} *{{.table.PackageName}}Models.{{.table.ClassName}}Vo) {

	{{.table.BusinessName}} = new({{.table.PackageName}}Models.{{.table.ClassName}}Vo)
	err := mysql.MysqlDb.Get({{.table.BusinessName}}, select{{.table.ClassName}}Sql+from{{.table.ClassName}}Sql+" where {{range $index, $column := .table.Columns}}{{if eq $column.IsPk "1"}}{{$column.ColumnName}} = ？", {{$column.GoType}}{{end}}{{end}})
	if err != nil {
		panic(err)
	}
	return
}