{{$plugin:= .table.FunctionName}}
-- 菜单 SQL
insert into sys_menu (menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
values('{{.table.FunctionName}}', '{{.table.ParentMenuId}}', '1', '{{.table.BusinessName}}', '{{.table.ModuleName}}/{{.table.BusinessName}}/index', 1, 0, 'C', '0', '0', '{{.table.PackageName}}:{{.table.BusinessName}}:list', '#', '{{.table.FunctionAuthor}}', sysdate(), '', null, '{{.table.FunctionName}}菜单');

-- 按钮父菜单ID
SELECT @parentId := LAST_INSERT_ID();


-- 按钮 SQL
insert into sys_menu (menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
values('{{$plugin}}查询', @parentId, '1',  '#', '', 1, 0, 'F', '0', '0', '{{.table.PackageName}}:{{.table.BusinessName}}:query',        '#', '{{.table.FunctionAuthor}}', sysdate(), '', null, '');

insert into sys_menu (menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
values('{{$plugin}}新增', @parentId, '2',  '#', '', 1, 0, 'F', '0', '0', '{{.table.PackageName}}:{{.table.BusinessName}}:add',          '#', '{{.table.FunctionAuthor}}', sysdate(), '', null, '');

insert into sys_menu (menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
values('{{$plugin}}修改', @parentId, '3',  '#', '', 1, 0, 'F', '0', '0', '{{.table.PackageName}}:{{.table.BusinessName}}:edit',         '#', '{{.table.FunctionAuthor}}', sysdate(), '', null, '');

insert into sys_menu (menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
values('{{$plugin}}删除', @parentId, '4',  '#', '', 1, 0, 'F', '0', '0', '{{.table.PackageName}}:{{.table.BusinessName}}:remove',       '#', '{{.table.FunctionAuthor}}', sysdate(), '', null, '');

insert into sys_menu (menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
values('{{$plugin}}导出', @parentId, '5',  '#', '', 1, 0, 'F', '0', '0', '{{.table.PackageName}}:{{.table.BusinessName}}:export',       '#', '{{.table.FunctionAuthor}}', sysdate(), '', null, '');
